<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Section -->
        <section>
          <p><center><img src="assets/images/naomicasuga_photo.png" alt="" height="200" width="auto" /></center></p>
          <p><b>Naomi Grace Casuga</b>
          <br>Aspiring Data Scientist | Interior Designer</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="mailto:naomi.casuga@ftwfoundation.org">{{ site.email }}</a></li>
            <li class="fa-file-text-o"><a href="{{ 'cv.html' | absolute_url }}">CV</a></li>
            <li class="fa-linkedin"><a href="https://www.linkedin.com/in/naomicasuga">LinkedIn</a></li>
            <li class="fa-github"><a href="https://github.com/naomicasuga">GitHub</a></li>
            <li class="fa-home">{{ site.country }}</li>
          </ul>
        </section>

    </div>
  </div>
