<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Section -->
        <section>
          <header class="major">
            <h3><a href="{{ 'https://naomicasuga.github.io/' | absolute_url }}" class="image"><img src="{{ 'assets/images/n_logo_32px.png' | absolute_url }}" alt="Hi!" width="20" height="auto"/></a></h3>
          </header>
          <p><center><img src="{{ 'assets/images/naomicasuga_photo.png' | absolute_url }}" alt="" height="200" width="auto" /></center></p>
          <p><b>Naomi Grace Casuga</b>
          <br>Aspiring Data Analyst | Interior Designer</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="mailto:naomicasuga@gmail.com">{{ site.email }}</a></li>
            <li class="fa-file-text-o"><a href="{{ '/posts/cv.html' | absolute_url }}">CV</a></li>
            <li class="fa-linkedin"><a href="https://www.linkedin.com/in/naomicasuga">LinkedIn</a></li>
            <li class="fa-github"><a href="https://github.com/naomicasuga">GitHub</a></li>
            <li class="fa-home">{{ site.country }}</li>
          </ul>
        </section>

    </div>
  </div>
